.button {
    border: none;
    color: #fff;
    background-color: #2F65F8;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    height: 45px;
    font-family: "lato", sans-serif;
    border-radius: 3.13px;
    box-shadow: 3px 3px 10px #0f172a;


}

p {
    font-size: 17px ;
    font-family: "lato", sans-serif;
}
h1 {
    font-size: 35px;
    font-family: "lato", sans-serif;
}
li{
    font-family: "lato", sans-serif;
    font-size: 16px ;
}
input {
    width: 320px;
}

.bg-img{
    background-image: url("./img/Rectangle.png");
    z-index: -1;
    position: absolute;

}

.early_access{
    background-color: #575988;
    margin: 0px;
    padding: 0px;
}

.p_early_access_font{
    color: #ffffff;
}

@media  screen and (max-width: 780px) {


}