.header{

}

li{
    background-color: #888888;
    width: 250px;
    height: 50px;
    text-align: center;
    justify-content: center;

}
ul{
    justify-content: center;


}

footer.container{
    flex-grow: 1;
    justify-content: end;
}

@media screen and (min-width:750px) {
    .container  {
        flex-direction: row;
    }
    li{
        background-color: white;
        width: 75px;


    }






}