@import "position-lecture-base.css";

/* This is the file we will use to experiment with position */
.container {
  position: relative;

}

#item-1{
  position:sticky;
  top: 0px;

}


#item-1 span{
  display: none;
  /*position: absolute;*/
  /*background-color: #0f172a;*/
  /*border-radius: 3px;*/
  /*padding: 5px 10px;*/
  /*bottom: 0px;*/
  /*left: -20px;*/


}

